:root {
  --color-primary: #4f46e5;
  --color-secondary: #ec4899;
  --color-background: #f3f4f6;
  --color-text: #111827;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* overflow: hidden; */
  background-color: rgb(38, 35, 35);
  color: pink;
  text-shadow: -10px 5px 5px rgb(141, 91, 99);
}